* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style-type: none;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
}

*::-webkit-scrollbar {
    display: none;
}


body {
    display: flex;
    height: 100svh;
    width: 100%;
    overflow: hidden;
    background-color: #f8f8f8;
}

/* ☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢ */
/* ☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢ */
/* 𝗗𝗔𝗦𝗛𝗕𝗢𝗔𝗥𝗗 𝗣𝗔𝗚𝗘 */
/* ☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢ */
/* ☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢ */

.sideNavBar{
    height: 100svh;
    flex-direction: column;
    box-shadow: 5px 4px 10px 1px rgba(207, 207, 207, 0.157);
    z-index: 5;
}

.brandLogoImg{
    width: 65%;
    height: auto;
    aspect-ratio: 4/3;
    object-fit: contain;
}

.logoutBtn{
    background-color: #262626;
    color: white;
    width: 100%;
    padding: 7px 0;
    font-size: medium;
    font-weight: 400;
    letter-spacing: 1px;
    border: 2px inset white;
}

.logoutBtn:active{
    border: 2px outset white;
    color: rgb(203, 203, 203);
}

.logoutIcon{
    width: auto;
    height: 18px;
}

.profilePic{
    clip-path: circle(100%);
}

.navBarItem a img{
    width: 20px;
    height: 20px;
}

.navBarItem a{
    color: #262626;
    font-size: 18px;
}

.activeNavItem{
    background-color: #262626;
}

.activeNavItem a{
    color: white;
}

.dashboardBodyDiv{
    height: 100svh;
    background-color: #F8F8F8;
}

/* ☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢ */
/* ☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢ */
/* 𝗢𝗥𝗗𝗘𝗥𝗦 𝗣𝗔𝗚𝗘 */
/* ☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢ */
/* ☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢ */

/* ☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢ */
/* ☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢ */
/* 𝗧𝗔𝗕𝗟𝗘𝗦 𝗣𝗔𝗚𝗘 */
/* ☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢ */
/* ☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢ */

.tableHeaderControlDiv{
    background-color: #F8F8F8;
}

.tableSearchBox{
    padding: 1.5% 2% 1.5% 7%;
    background-color: #E8E8E8 !important;
    color: #262626;
    font-size: 15px;
    letter-spacing: 0.5px;
    font-weight: 500;
    outline: none;
    border: 2px inset gray;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 20px center;
}

.tableSearchBox:focus{
    border: 2px outset gray;
}

.addTableBtn{
    background-color: #262626;
    color: white;
    padding: 7px 0;
    font-size: large;
    font-weight: 400;
    letter-spacing: 1px;
    border: 2px inset white;
}

.addTableBtn:active{
    border: 2px outset white;
    color: rgb(203, 203, 203);
}

.tableQrImg{
    width: 200px !important;
    height: 200px !important;
    aspect-ratio: 1;
    object-fit: contain;
    border: 1px solid red;
}

/* ☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢ */
/* ☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢ */
/* 𝗙𝗢𝗢𝗗 𝗖𝗔𝗧𝗘𝗚𝗢𝗥𝗬 𝗣𝗔𝗚𝗘 */
/* ☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢ */
/* ☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢ */

/* ☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢ */
/* ☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢ */
/* 𝗙𝗢𝗢𝗗 𝗜𝗧𝗘𝗠𝗦 𝗣𝗔𝗚𝗘 */
/* ☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢ */
/* ☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢☢ */