* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style-type: none;
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    display: flex;
    height: 100svh;
    width: 100%;
    /* overflow: hidden; */
    background-color: #f8f8f8;
}

.homeContentBox {
    background-image: url('../images/heroSectionAndroid.jpg');
    background-color: #F7F7F7;
    background-repeat: no-repeat;
    background-size: 100% auto;
    aspect-ratio: 9/16;
    object-fit: cover;
    background-position: bottom;
    padding: 0% 2%;
    z-index: 10;
}

.brandName {
    font-weight: 900;
}

.brandName1 {
    color: #0CB1F2;
}

.brandName2 {
    color: #90BF6F;
}

.slogan {
    color: #656565;
}

.getStartedBtn {
    background-color: #FF9F14;
    font-weight: 700;
    letter-spacing: 0.3px;
    outline: none;
    border: none;
}

.loginFormModalCloseIcon {
    cursor: pointer;
}

.loginFormModal {
    width: 85%;
    height: auto;
    position: relative;
    top: 25%;
    bottom: auto;
    left: 7%;
    right: auto;
}

.loginFormModal::backdrop {
    backdrop-filter: blur(5px);
}

.signUpFormModalCloseIcon {
    cursor: pointer;
}

.signUpFormModal {
    width: 85%;
    height: auto;
    position: relative;
    top: 25%;
    bottom: auto;
    left: 7%;
    right: auto;
}

.signUpFormModal::backdrop {
    backdrop-filter: blur(5px);
}

.changeModalTxt {
    cursor: pointer;
}

.loginFormModalDiv form input[type=text],
input[type=tel] {
    font-size: medium;
    border: 2px outset lightgray;
    outline: none;
}

.loginFormModalDiv form input[type=text]:focus,
input[type=tel]:focus {
    border: 2px inset lightgray;
    box-shadow: 0px 0px 4px #c0c0c0;
}

.loginFormModalDiv form .signInBtn {
    background-color: #262626;
    color: white;
    font-size: larger;
    letter-spacing: 1px;
    border-color: #a7a7a7;
}

.loginFormModalDiv form .signUpBtn {
    background-color: #262626;
    color: white;
    font-size: larger;
    letter-spacing: 1px;
    border-color: #a7a7a7;
}

.signUpFormModalDiv form input[type=text],
input[type=tel] {
    font-size: medium;
    border: 2px outset lightgray;
    outline: none;
}

.signUpFormModalDiv form input[type=text]:focus,
input[type=tel]:focus {
    border: 2px inset lightgray;
    box-shadow: 0px 0px 4px #c0c0c0;
}

.signUpFormModalDiv form .signInBtn {
    background-color: #262626;
    color: white;
    font-size: larger;
    letter-spacing: 1px;
    border-color: #a7a7a7;
}

.signUpFormModalDiv form .signUpBtn {
    background-color: #262626;
    color: white;
    font-size: larger;
    letter-spacing: 1px;
    border-color: #a7a7a7;
}

.cardsDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.foodSearchBar {
    /* padding: 1.5% 2% 1.5% 7%; */
    background-color: #eeeeee !important;
    color: #262626;
    /* font-size: 15px; */
    letter-spacing: 0.5px;
    font-weight: 500;
    outline: none;
    border: 2px inset gray;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 20px center;
}

.foodSearchBar:focus {
    border: 2px outset gray;
}

.FoodName {
    color: #262626;
    letter-spacing: 0.3px;
    font-size: medium;
}

.FoodCategory {
    letter-spacing: 0.3px;
    font-size: medium;
}

.FoodQuantity {
    letter-spacing: 0.3px;
    font-size: medium;
}

.MinusIcon,
.PlusIcon {
    width: 17px;
    height: 17px;
}

.QuantityControlDiv {
    background-color: #f5f5f5;
}

.QuantityControlDiv button {
    background-color: transparent;
    border: none;
    outline: none;
}

.QuantityControlDiv button:active {
    background-color: #dddddd;
}

.FoodQuantityCount,
.FoodTotalPrice {
    width: inherit;
    outline: none;
    border: none;
    background-color: transparent;
}

.FoodTotalPrice {
    font-size: large;
    font-weight: 600;
}

.AddToCartBtn {
    background-color: #FF9F14;
    border: none;
    outline: none;
    color: white;
}

.AddToCartBtn:active {
    box-shadow: 0px 0px 3px #a7a7a7;
}

.categoryCardsDiv{
    display: flex;
    overflow-x: scroll !important;
    width: 100%;
}

.FoodItemImg{
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
    border: 0.5px solid lightgrey;
}

.categoryCard{
    display: flex;
    flex-direction: row;
    width: auto;
    background-color: white;
    align-items: center;
    justify-content: start;
    border: 2px outset white;
}

.FcActive {
    border: 2px inset whitesmoke;
    background-color: #dcdcdc;
}

.categoryHeader{
    width: max-content;
}

@media (min-width:1000px) {
    .homeContentBox {
        background-image: url('../images/heroSectionDesktop.jpg');
        background-repeat: no-repeat;
        background-size: auto 100%;
        aspect-ratio: 16/9;
        object-fit: cover;
        background-position: center right;
    }

    .loginFormModal {
        width: 30%;
        height: auto;
        position: relative;
        top: 20%;
        bottom: auto;
        left: 35%;
        right: auto;
    }

    .signUpFormModal {
        width: 30%;
        height: auto;
        position: relative;
        top: 20%;
        bottom: auto;
        left: 35%;
        right: auto;
    }

    .cardsDiv {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .MinusIcon,
    .PlusIcon {
        width: 21px;
        height: 21px;
    }

    .QuantityControlDiv button {
        margin: 0 !important;
    }

    .FoodTotalPrice {
        font-size: large;
        font-weight: 600;
    }

}